.tooltip {
	display: inline-block;
    position: relative;
}

.tooltip__trigger {
}

.tooltip__bubble {
	display: none;
    width: 129px;
    font-size: 1rem;
	border-radius: 10px;
	background: var(--black);
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	padding: 10px 20px;
	color: #fff;
	position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble::before {
	content: "";
    border: 10px solid transparent;
    border-bottom: 6px solid var(--black);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
	display: block;
}